<p> multi object  </p>

<div class="flex-row" *ngFor="let equis of multiobjects | keyvalue">
  <h1>{{equis.key}}</h1>
  <table class="table table-hover">
    <tr>
      <th *ngFor='let item of resultat | keyvalue' class="alert-primary">
        {{ item.key }}

        <div *ngFor="let equisss of item.value | keyvalue">
          <div *ngIf="equis.key === equisss.key">
            {{ equisss.key }}
          </div>
        </div>
      </th>

    </tr>
    <tr id="" class="" *ngFor="let equiss of equis.value | keyvalue">
      <td class="" *ngFor="let equisss of equiss.value | keyvalue">
        {{equisss.value}}
      </td>
    </tr>
  </table>
</div>



