<div class="container">
  <div class="jumbotron">
    <h2>Angular CRUD App</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-equipes-list>

      </app-equipes-list>
    </div>
    <div class="col-sm-12">
    <app-equipes>

    </app-equipes>
  </div>

  </div>
</div>
